.landing-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    object-fit: cover;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay to improve text readability */
    z-index: 1;
  }
  
  .landing-page .container-fluid {
    position: relative;
    z-index: 2;
  }
  
  .btn-outline-light {
    border: 2px solid white;
  }